<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li
            class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"
          >
            <a style="font-size: 14pt" href="/" target="_self"
              ><i class="fas fa-home"></i> Homepage</a
            >
          </li>
         
          <li class="masthead__menu-item">
            <a
              style="font-size: 14pt"
              href="{{ domain }}research"
              target="_self"
              ><i class="fas fa-search"></i> Research</a
            >
          </li>
          <li class="masthead__menu-item">
            <a style="font-size: 14pt" href="{{ domain }}teaching" target="_self"
              ><i class="fas fa-chalkboard"></i> Teaching</a
            >
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>