<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav class="site-nav-modern">
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
            <a href="/" target="_self">Home</a>
          </li>
          <li class="masthead__menu-item masthead__menu-item--dropdown">
            <div class="masthead-dropdown">
              <a class="masthead-dropdown-trigger" href="/about/" target="_self">About Me</a>
              <ul class="masthead-submenu">
                <li><a href="/about/#selected-publications" target="_self">Selected Publications</a></li>
                <li><a href="/about/#honors-awards" target="_self">Honors and Awards</a></li>
                <li><a href="/about/#professional-training" target="_self">Professional Training</a></li>
                <li><a href="/about/#education" target="_self">Education</a></li>
                <li><a href="/about/#talks" target="_self">Talks</a></li>
              </ul>
            </div>
          </li>
         
          <li class="masthead__menu-item masthead__menu-item--dropdown">
            <div class="masthead-dropdown">
              <a class="masthead-dropdown-trigger" href="/research/" target="_self">Research</a>
              <ul class="masthead-submenu">
                <li><a href="/research/#academic-services" target="_self">Academic Services</a></li>
                <li class="masthead-submenu-group">
                  <a href="/research/#publications" target="_self">Publications</a>
                  <ul>
                    <li><a href="/research/#lead-author-publications" target="_self">Lead-author Publications</a></li>
                    <li><a href="/research/#collaborative-publications" target="_self">Collaborative Publications</a></li>
                    <li><a href="/research/#review-articles" target="_self">Review Articles</a></li>
                  </ul>
                </li>
                <li><a href="/research/#patents" target="_self">Patents</a></li>
              </ul>
            </div>
          </li>
          <li class="masthead__menu-item masthead__menu-item--dropdown">
            <div class="masthead-dropdown">
              <a class="masthead-dropdown-trigger" href="/teaching/" target="_self">Teaching</a>
              <ul class="masthead-submenu">
                <li><a href="/teaching/#teaching-experience" target="_self">Teaching Experience</a></li>
                <li><a href="/teaching/#teaching-philosophy" target="_self">Teaching Philosophy</a></li>
                <li><a href="/teaching/#teaching-gallery" target="_self">Teaching Gallery</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
